<ul>
    {% for pic in mars.hemispheres %}
    <li><img> src = {{ pic.img_url }} />
        <img src = "https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif"
            src = "https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif"
            src = "https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif" 
            src = "https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced"
            class="img-responsive" 
            alt="Responsive image"/> </li>
    {% endfor %}
  </ul>